html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #1b1b1b;
  box-shadow: 0 6px 30px rgba(255, 255, 255, .6);
  border: 3px solid #1b1b1b
}

#dialogs {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #98c5d5;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  border: 5px solid white;
  border-radius: 5px;
}

#dialogs .txt {
  display: inline-block;
  width: 79%;
  height: 100%;
  margin: 0;
  padding: 5px 0 0 3px;
  vertical-align: top;
}

#dialogs .portrait {
  display: inline-block;
  width: 20%;
  height: 50%;
  margin:0;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}

#dialogs .portrait img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hide {
  display: none;
}